@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.rotate-90 {
  transform: rotate(90deg);
}

.arrow-transition {
  transition: transform 0.2s ease;
}

.react-calendar {
  width: 100%;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.dark body {
  background-color: #121212; /* Or whatever dark bg you want */
}

/* * {
  transition: background-color 200ms ease, color 200ms ease;
} */