@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.rotate-90 {
  transform: rotate(90deg);
}

.arrow-transition {
  transition: transform 0.2s ease;
}